<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="GF.Domain.Context"/>
    <assembly name="GF.Domain.Seedwork"/>
    <container>
      <register type="GF.Domain.Context.Account">
        <!--<constructor>
          <param name="id" value="00000000-0000-0000-0000-000000000000"/>
          <param name="accountName">
            <value value="zhangsan"/>
          </param>
          <param name="password" value="123456"/>
          <param name="email" value="zhangsan@gmail.com"/>
          <param name="coins" value="0"/>
          <param name="identityCardNumber" value=""/>
          <param name="name" value="张三"/>
          <param name="zone" >
            <dependency type="Zone"/>
          </param>
        </constructor>-->
      </register>
      
    </container>
  </unity>
  
  
  
</configuration>