if exists (select * from sysobjects where id = OBJECT_ID('[Universities]') and OBJECTPROPERTY(id, 'IsUserTable') = 1) 
DROP TABLE [Universities]

CREATE TABLE [Universities] (
[Id] [uniqueidentifier]  NOT NULL,
[Name] [nvarchar]  (MAX) NOT NULL,
[UniversityType] [nvarchar]  (MAX) NOT NULL,
[Kind] [nvarchar]  (MAX) NOT NULL,
[Address] [nvarchar]  (MAX) NOT NULL,
[Phone] [nvarchar]  (MAX) NULL,
[Email] [nvarchar]  (MAX) NULL,
[Website] [nvarchar]  (MAX) NULL,
[BriefIntroduction] [nvarchar]  (MAX) NULL,
[IsEducationDepartment] [bit]  NOT NULL,
[Is985] [bit]  NOT NULL,
[Is211] [bit]  NOT NULL,
[Zone_City] [nvarchar]  (MAX) NOT NULL,
[Zone_Province] [nvarchar]  (MAX) NOT NULL)

ALTER TABLE [Universities] WITH NOCHECK ADD  CONSTRAINT [PK_Universities] PRIMARY KEY  NONCLUSTERED ( [Id] )
INSERT [Universities] ([Id],[Name],[UniversityType],[IsEducationDepartment],[Is985],[Is211],[Zone_City]) VALUES ( N'd4fca237-da28-4b30-b357-0005ce66716a',N'华南农业大学珠江学院',N'普通高校',0,0,0,N'广东省')
INSERT [Universities] ([Id],[Name],[UniversityType],[IsEducationDepartment],[Is985],[Is211],[Zone_City]) VALUES ( N'55267bd5-5018-4418-9afc-000a3b21ad56',N'广州珠江职业技术学院',N'普通高校',0,0,0,N'广东省')
INSERT [Universities] ([Id],[Name],[UniversityType],[IsEducationDepartment],[Is985],[Is211],[Zone_City]) VALUES ( N'f08cee72-9250-403a-92b8-000cd86ada1f',N'邵阳学院',N'普通高校',0,0,0,N'湖南省')
if exists (select * from sysobjects where id = OBJECT_ID('[Zone]') and OBJECTPROPERTY(id, 'IsUserTable') = 1) 
DROP TABLE [Zone]

CREATE TABLE [Zone] (
[GBCode] [int]  NOT NULL,
[Name] [nvarchar]  (255) NULL,
[Class] [int]  NULL,
[Id] [uniqueidentifier]  NOT NULL DEFAULT (newid))

ALTER TABLE [Zone] WITH NOCHECK ADD  CONSTRAINT [PK_Zone] PRIMARY KEY  NONCLUSTERED ( [Id] )
INSERT [Zone] ([GBCode],[Name],[Class],[Id]) VALUES ( 330205,N'江北区',3,N'c101d430-e993-49ee-b3c4-001609e4e40e')
INSERT [Zone] ([GBCode],[Name],[Class],[Id]) VALUES ( 341321,N'砀山县',3,N'19546c2b-d217-4501-b91d-0030c293ee37')
INSERT [Zone] ([GBCode],[Name],[Class],[Id]) VALUES ( 321302,N'宿城区',3,N'c7a3be12-f666-427c-bdf4-003a7aaaf597')
