@model IList<GF.Domain.Context.University>

<div id="UniversityList">
        @foreach (GF.Domain.Context.University university in Model)
        {
            string universityName = university.Name;
            int nameLength = universityName.Length;
            universityName = nameLength >= 12 ? universityName.Substring(0, 8) + "......" : universityName;
            @Html.Raw("<a href='javascript:void(0);' onclick=getSelectedUniversity('" + university.Name + "','" + university.Id.ToString() + "') >" + universityName + "</a>");
        }
</div>

